<%# <h1>Static#home</h1>
<p>Find me in app/views/static/home.html.erb</p> %>

<div>
  <div style='width: 600px;margin:auto'>
    <img  style='width: 600px' src="https://www.plannthat.com/wp-content/uploads/2018/11/instagram-travel-photographer-tips.jpeg">
  </div>
  <h1 align="center">Welcome Wanderer!</h1>
</div>


<%# <img  style='width: 600px' src="http://www.washingtonpost.com/wp-srv/special/health/why-roller-coasters-make-us-scream/images/rollercoasterBackground.jpg"> %>